In [6]:
import pandas as pd
from statistics import mean

In [7]:
data = pd.read_csv("SATData.csv")
data.drop(columns="Unnamed: 0", axis=1, inplace=True)
data

     GPA   SAT
0    3.4  1270
1    4.0  1220
2    3.8  1160
3    3.8   950
4    4.0  1070
..   ...   ...
995  3.7  1000
996  3.3  1080
997  3.5  1140
998  2.3  1200
999  2.7   930

[1000 rows x 2 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GPA     1000 non-null   float64
 1   SAT     1000 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 15.8 KB

In [9]:
# Splitting the Data
split_index = int(len(data.index) / 2)

training_data, testing_data = data.iloc[:split_index], data.iloc[split_index:]

In [10]:
# Linear Regression algorithm
GPA_mean = training_data["GPA"].mean()
GPA_std = training_data["GPA"].std()
SAT_mean = training_data["SAT"].mean()
SAT_std = training_data["SAT"].std()

# Least Squares
optimal = False
iterations = 1000;
equations = {}
r = 0
m = (r * (SAT_std / GPA_std))  # Initial Values
b = (SAT_mean - (m * GPA_mean)) 

while r <= 1:
    residual_y = []
    for (col_name, col_val) in training_data.iterrows():
        residual_y.append(abs(col_val["SAT"] - (m * col_val["GPA"] + b)))

    residual_average = mean(residual_y)

    r += 0.1
    equations[str(m) + "," + str(b) + "," + str(r)] = residual_average;

In [11]:
# equations
# print(GPA_mean)
# print(GPA_std)
# print(SAT_mean)
# print(SAT_std)
print(m)
print(b)

0.0
1040.28