In [28]:
import pandas as pd
import csv

In [29]:
df = pd.read_csv("SATData.csv")
df.drop(columns="Unnamed: 0", axis=1, inplace=True)
df

     GPA   SAT
0    3.4  1270
1    4.0  1220
2    3.8  1160
3    3.8   950
4    4.0  1070
..   ...   ...
995  3.7  1000
996  3.3  1080
997  3.5  1140
998  2.3  1200
999  2.7   930

[1000 rows x 2 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GPA     1000 non-null   float64
 1   SAT     1000 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 15.8 KB

In [31]:
df.min()

GPA      1.8
SAT    530.0
dtype: float64

In [32]:
df.max()

GPA       4.5
SAT    1440.0
dtype: float64

In [33]:
# Import all data
all_data = []

with open("SATData.csv") as csv_obj:
    reader_obj = csv.reader(csv_obj, delimiter=",")

    for row in reader_obj:
        all_data.append(row)

all_data.pop(0)     # Removes the headers


# Split the data
split_index = int(len(all_data)/2)
training_data, testing_data = all_data[:split_index], all_data[split_index:]